/* container style */

.container .title {
    display: table;
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.container .title div {
    display: table-cell;
    vertical-align: middle;
}

.container .title span {
    font-weight: bold;
}

.container .content .picture {
    width: 90%;
    margin: auto;
}

.container .content .text {
    margin-bottom: 20px;
}