/* container style */

.container .title .texts {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    height: 70%;
    color: transparent;
}

.container .title .top-text {
    width: 100%;
    font-size: 45px;
    margin: auto;
    text-align: left;
    font-weight: bold;
    animation: top-title 1s 0s forwards;
}

.container .title .bottom-text {
    width: 100%;
    margin: auto;
    text-align: right;
    animation: bottom-title 1s 1s forwards;
}

.container .content .text {
    width: 70%;
    white-space: pre-line;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
}

/* keyframes */

@keyframes top-title {
    from {
        color: transparent;
        margin-left: 3%;
    }
    to {
        color: black;
        margin-left: 0;
    }
}

@keyframes bottom-title {
    from {
        color: transparent;
        margin-left: 3%;
    }
    to {
        color: black;
        margin-left: 0;
    }
}