body, html {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Segoe UI Light";
}

abbr {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: rgb(0, 187, 255);
}

/* menubar style */

.menubar {
    width: 100%;
    background: rgb(0, 111, 214);
    color: white;
    display: flex;
    user-select: none;
}

.menubar .pages {
    flex: 5;
    text-align: center;
    display: table;
}

.menubar .page {
    display: table-cell;
    vertical-align: middle;
}

.menubar .page.selected a {
    color: rgb(179, 218, 255);
}

.menubar .page.selected a:hover {
    color: rgb(0, 187, 255);
}

.menubar .title {
    flex: 2;
    font-size: 30px;
    padding: 10px;
    text-align: right;
}

/* container style */

.container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container .title {
    width: 100%;
    min-height: 150px;
    background: rgb(0, 132, 255);
    font-size: 40px;
    display: table;
    text-align: center;
    overflow: hidden;
}

.container .title div {
    display: table-cell;
    vertical-align: middle;
}

.container .content {
    width: 100%;
    min-height: 90vh;
    flex: 7;
    text-align: center;
    margin-bottom: 50px;
}

.container .content .text {
    width: 70%;
    white-space: pre-line;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
}

.container .content .text a {
    color: gray;
    font-weight: bold;
}

.container .content .text a:hover {
    color: rgb(0, 187, 255);
}

.container .source {
    text-align: center;
    padding: 10px;
    background: gray;
}