* {
    font-family: "Segoe UI Light";
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

hr {
    border: 1px solid gray;
    background: gray;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.darkmode {
    background: rgb(101, 101, 101);
    color: white;
}

.darkmode .modal-content {
    background: gray;
}

.container>div {
    display: flex;
    width: 98%;
    margin: auto;
}

.center {
    flex: 1;
}

.top>div {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    user-select: none;
    font-weight: bold;
}

.bottom {
    flex: 1;
    padding-top: 20px;
    user-select: none;
}

.bottom .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bottom .right {
    flex: 10;
    overflow: auto;
}

.top>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 20px;
    padding: 4px 7px 4px 7px;
    margin: 3px;
    user-select: none;
    border-radius: 5px;
    transition-property: background, color, box-shadow;
    transition-duration: 0.2s;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.button:active {
    background: rgba(0, 0, 0, 0.1);
}

input {
    border: 0;
    outline: none;
    background: white;
}

.darkmode input {
    background: rgba(255, 255, 255, 0.1);
}

.search-bar {
    border-radius: 10px;
    padding: 4px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

.search-bar * {
    color: rgb(120, 120, 120);
}

.search-bar.focus {
    background: white;
}

#search_mail {
    flex: 1;
    font-size: 18px;
    transition: all 0.2s;
    background: transparent;
}

.button.write {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s;
}

.button.write:hover {
    background: rgba(0, 0, 0, 0.05);
}

.button.write:active {
    background: rgba(0, 0, 0, 0.1);
}

.top .right .button {
    color: gray;
}

.darkmode .top .right .button {
    color: lightgray;
}

.mails {
    width: 98%;
    margin: auto;
}

.mail {
    width: 100%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px;
    transition: all 0.2s;
}

.mail>span {
    padding: 5px;
}

.mail.inbox .name {
    font-weight: bold;
    padding-right: 10px;
}

.subject {
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.mail-text {
    font-size: 25px;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.item {
    border-radius: 5px;
    font-weight: bold;
}

.item:hover {
    background: rgba(100, 100, 100, 0.05);
}

.darkmode .item:hover {
    background: rgba(255, 255, 255, 0.05);
}

.item.selected {
    background: rgba(0, 0, 0, 0.05);
}

.hshadow {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.shadow {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.darkmode .hshadow {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-content {
    width: 50%;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
}

.button.close {
    padding: 2px 7px 2px 7px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content textarea {
    margin: auto;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    resize: none;
    background: white;
    width: 100%;
}

.darkmode .content textarea {
    background: rgba(255, 255, 255, 0.1);
}

.content .input-field {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
}

.content .label {
    margin-right: 3px;
}

.content input {
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content>div {
    flex: 1;
    margin-bottom: 10px;
}

.write-mail.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .error {
    margin-bottom: 5px;
}

.content .button {
    background: rgb(61, 61, 61);
    color: white;
}

.darkmode .content .button:hover {
    background: darkgray;
}

.content .button:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.content .button:active {
    background: rgba(0, 0, 0, 0.2);
}

.content .error {
    color: red;
}

.darkmode .content .error {
    color: rgb(162, 0, 0);
}

.content .mail-subject {
    font-size: 30px;
    font-weight: bold;
}

.content .mail-writer,
.content .mail-recipient {
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.content .writer,
.content .recipient {
    margin-right: 10px;
}

.content .display-name {
    font-weight: bold;
}

.content .email {
    color: gray;
    font-size: 12px;
}

.content .title {
    user-select: text;
    margin-bottom: 20px;
}

.content .mail-content {
    text-align: left;
}

.content > span {
    text-align: center;
}

#profile .image img {
    border-radius: 70px;
}
