* {
    font-family: "Segoe UI Light";
}

html, body, .container {
    width: 100%;
    height: 100%;
    margin: 0;
}

div {
    margin: 0;
}

.container {
    background: rgb(74, 68, 196);
    color: white;
    user-select: none;
    transition: all 0.5s;
}

.container.home {
    background: rgb(74, 68, 196);
}

.container.products {
    background: rgb(27, 27, 200);
}

.container.settings {
    background: rgb(204, 191, 255);
    color: black;
}

.container a {
    color: rgb(219, 209, 255);
    text-decoration: none;
}

.menu {
    width: 20%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    float: left;
}

#menuButton {
    position: absolute; 
    top: 5px;
    left: 5px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.2s;
}

#menuButton:hover {
    color: rgb(218, 218, 218);
}

#home {
    margin-top: 50px;
}

.item {
    transition: all 0.2s;
    padding: 30px;
    user-select: none;
    cursor: pointer;
}

.item.selected {
    background: rgba(255, 255, 255, 0.1);
}

.item:hover {
    background: rgba(255, 255, 255, 0.2)
}

.content {
    width: 80%;
    height: 100vh;
    text-align: center;
    display: table;
}

.content p {
    display: table-cell;
    vertical-align: middle;
}