.container {
    display: flex;
    user-select: none;
}

.container > div {
    height: 100%;
}

.menu {
    flex: 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background: lightgray;
    color: gray;
    padding: 0px 15px 0px 15px;
}

.menu .top {
    flex: 1;
}

.main {
    flex: 1;
}

.main > div {
    width: 85%;
    margin: auto;
}

.main .bottom {
    overflow: auto;
}

.main .top {
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;
}

.main .top .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main .top .right {
    flex: 1;
    text-align: right;
}

.button {
    transition: all 0.2s;
}

.menu .button:hover {
    color: rgb(164, 164, 164);
}

.main .button {
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
}

.main .button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.chat {
    width: 98%;
    padding: 10px 1% 10px 1%;
    display: flex;
    transition: all 0.5s;
}

.chat:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.chat .middle {
    flex: 1;
}

.chat .image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}

.chat .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat .middle > span {
    padding-left: 15px;
}

.chat .name {
    font-size: 17px;
    font-weight: bold;
}

.chat .last-chat {
    color: gray;
    font-size: 14px;
}

.chat .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.chat .new-message {
    padding-top: 5px;
}

.chat .new-message > span {
    border-radius: 10px;
    background: red;
    padding: 0px 4px 0px 4px;
    color: white;
    font-weight: bold;
}

.chat .chat-time {
    color: gray;
}

.chat .user-count {
    color: gray;
    font-size: 13px;
}

.bottom a {
    text-decoration: none;
    color: black;
}
