body, html, p {
    margin: 0px;
    font-family: "Segoe UI Light";
}

a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: rgb(166, 166, 166);
}

.button {
    padding: 5px;
    background: gray;
    border-radius: 3px;
}

.header {
    background: rgb(15, 181, 15);
    color: white;
    display: flex;
    padding: 15px;
    user-select: none;
}

.header .title {
    flex: 5;
    font-size: 25px;
}

.header .items {
    min-width: 200px;
    flex: 1;
    display: flex;
}

.header .items p {
    flex: 1;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    padding: 3px;
}

.header .items p:hover {
    background: rgb(31, 153, 31);
}

.header .items p:active {
    background: rgb(24, 103, 24);
}

.container {
    width: 100%;
    height: 100vh;
}

.content {
    min-height: 100vh;
}

.copy {
    margin-top: 50px;
    background: rgb(198, 198, 198);
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: rgb(80, 80, 80);
}

.blog {
    margin: auto;
    margin-top: 20px;
    max-width: 1000px;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.blog hr {
    width: 90%;
    background: gray;
    border: 0px;
    height: 0.5px;
}

.blog > div {
    width: 90%;
    margin: auto;
}

.blog .ctitle {
    color: rgb(75, 75, 75);
    text-align: center;
}

.blog .comments {
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog .write-comment {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: none;
}

.blog .comment-container .add-comment {
    color: gray;
    margin: auto;
    text-align: center;
}

.blog .write-comment .comment-text {
    width: 60%;
    border: 0px;
    outline: none;
    transition: all 0.2s ease;
    resize: none;
    min-height: 50px;
    max-height: 200px;
    font-family: inherit;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

.blog .write-comment .comment-text:focus {
    border-color: lightgray;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
}

.blog .write-comment .comment-button {
    background: lightgray;
    border: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    transform: translate(0%, -50%);
    border-radius: 3px;
}

.blog .write-comment .comment-button:hover {
    background: rgb(0, 189, 0);
    color: white;
}

.blog .write-comment .comment-button:active {
    background: rgb(0, 132, 0);
}

.blog .comment {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    border: 0px;
}

.blog .comment .comment-hr {
    width: 100%;
    background: rgba(128, 128, 128, 0.227);
}

.blog .comment > div {
    padding: 3px;
}

.blog .title {
    text-align: center;
    font-size: 25px;
}

.blog .info {
    display: flex;
}

.blog .writer {
    flex: 1;
    color: gray;
    font-size: 12px;
}

.blog .date {
    flex: 1;
    color: gray;
    font-size: 12px;
    text-align: right;
}

.blog .text {
    margin-top: 20px;
}

.blog .emotions {
    margin-top: 35px;
    color: gray;
}

.blog .fas {
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
    margin: 7px;
}

.blog #like:hover {
    color: red;
}

.blog #like:active {
    color: rgb(219, 0, 0);
}

.blog #share:hover {
    color: rgb(101, 147, 255);
}

.blog #share:active {
    color: rgb(84, 84, 255);
}

.blog #comment:hover {
    color: rgb(0, 189, 0);
}

.blog #comment:active {
    color: rgb(0, 132, 0);
}

/* Modal */

.profile-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background: rgba(0, 0, 0, 0.3);
}

.profile-modal-body {
    margin: auto;
    margin-top: 30px;
    background: white;
    text-align: center;
    border: 0;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    padding: 3px;
}

.profile-modal .top {
    margin: auto;
    text-align: right;
    color: gray;
    width: 100%;
}

.profile-modal #close {
    transition: all 0.2s ease;
    cursor: pointer;
}

.profile-modal #close:hover {
    color: red;
}

.profile-modal #close:active {
    color: rgb(182, 0, 0);
}

.profile-modal .title {
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
}

.profile-modal .profile-img {
    font-size: 100px;
}

.profile-modal .username {
    margin-bottom: 10px;
}

.profile-modal .button {
    color: white;
}

.profile-modal .buttons {
    margin-bottom: 50px;
}

.profile-modal .button:hover {
    background: rgb(0, 189, 0);
}

.profile-modal .button:active {
    background: rgb(0, 132, 0);
}

.profile-modal .button#edit {
    display: none;
}

.plslogin {
    font-size: 12px;
    color: gray;
}