* {
    font-family: "Segoe UI Light";
    font-size: 18px;
    transition: all 0.2s;
}

html, body {
    margin: 0px;
    width: 100%;
    overflow-y: hidden;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.container > div {
    width: 100%;
    text-align: center;
}

.top {
    width: 100%;
    flex: 1;
    font-size: 20px;
    user-select: none;
}

.top > div {
    width: 40%;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.button {
    padding: 3px 7px 3px 7px;
    font-size: 25px;
    border-radius: 5px;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.button:active {
    background: rgba(0, 0, 0, 0.05);
}

.button i {
    font-size: 20px;
}

.middle {
    flex: 8.5;
    display: flex;
    flex-direction: column;
}

.search {
    flex: 1;
}

.search-bar {
    background: white;
    width: 70%;
    border-radius: 20px;
    padding: 7px;
    color: gray;
    margin: auto;
    display: flex;
}

.search-text {
    flex: 10;
    border: 0px;
    outline: none;
}

.search-bar:focus {
    border-radius: 5px;
}

.button.search {
    flex: 0.5;
}

.button.search {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottom {
    flex: 0.5;
    background: rgba(0, 0, 0, 0.25);
    display: table;
    user-select: none;
}

.bottom > * {
    display: table-cell;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.quick-links {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.quick-links > div {
    margin: 7px;
}