html, body {
	margin: 0;
    font-family: Roboto;
}

html, body, .container {
	width: 100%;
	height: 100%;
}

.title {
    user-select: none;
}

.top {
	display: flex;
	height: 5%;
	min-height: 40px;
}

.left {
	flex: 1;
	padding: 10px;
}

.right {
	flex: 1;
	text-align: right;
	padding: 10px;
}

.right *, .left * {
	padding: 5px;
	cursor: pointer;
	color: rgb(95, 95, 95);
	transition: all ease 0.2s;
	border-radius: 5px;
    user-select: none;
}

.right *:hover, .left *:hover {
	background: rgba(211, 211, 211, 0.3);
}

.middle {
	width: 100%;
	height: 90%;
	text-align: center;
}

.search {
	margin: auto;
	padding-top: 25vh;
}

.search .title {
	font-size: 50px;
}

.search .inputs {
	margin: auto;
	margin-top: 70px;
	display: flex;
	width: 70%;
	height: 40px;
}

.search .search-text {
	flex: 100;
	border: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
	transition: all 0.2s ease;
}

.search .search-text:focus {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.search .search-button {
	flex: 1;
	font-size: 30px;
	border: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background: rgba(211, 211, 211, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s ease;
}

.search .search-button:hover {
	background: rgba(211, 211, 211, 0.5);
}

.search .search-button:active {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.bottom {
	height: 5%;
	min-height: 40px;
	background: lightgray;
	text-align: center;
	display: table;
	width: 100%;
	color: gray;
}

.bottom a {
	color: rgb(116, 116, 255);
	transition: all 0.2s ease;
	text-decoration: underline 1px;
}

.bottom a:hover {
	color: rgb(155, 155, 155);
	text-decoration: none;
}

.bottom a:visited {
	color: rgb(116, 116, 255);
}

.bottom span {
	display: table-cell;
	vertical-align: middle;
}