html, body {
	margin: 0;
    font-family: Roboto;
}

html, body, .container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.search .title span {
    cursor: pointer;
    user-select: none;
}

.top {
	display: flex;
	height: 5%;
	min-height: 40px;
}

.left {
	flex: 1;
	padding: 10px;
}

.right {
	flex: 1;
	text-align: right;
	padding: 10px;
}

.right *, .left * {
	padding: 5px;
	cursor: pointer;
	color: rgb(95, 95, 95);
	transition: all ease 0.2s;
	border-radius: 5px;
}

.right *:hover, .left *:hover {
	background: rgba(211, 211, 211, 0.3);
}

.middle {
	width: 100%;
	height: 89%;
	padding-bottom: 1vh;
	text-align: center;
	overflow: auto;
}

.middle hr {
	border: 0;
	background: rgba(0, 0, 0, 0.5);
	height: 1px;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.bottom {
	height: 5%;
	min-height: 40px;
	background: lightgray;
	text-align: center;
	display: table;
	width: 100%;
	color: gray;
}

.bottom a {
	color: rgb(116, 116, 255);
	transition: all 0.2s ease;
	text-decoration: underline 1px;
}

.bottom a:hover {
	color: rgb(155, 155, 155);
	text-decoration: none;
}

.bottom a:visited {
	color: rgb(116, 116, 255);
}

.bottom span {
	display: table-cell;
	vertical-align: middle;
}

.search {
	display: flex;
	margin: 10px;
	height: 3.5%;
}

.search .inputs {
	min-height: 30px;
	height: 100%;
	min-width: 200px;
	width: 30%;
	display: flex;
}

.search .title {
	font-size: 30px;
	height: 100%;
	margin-right: 10px;
	display: table;
}

.search .title span {
	display: table-cell;
	vertical-align: middle;
}

.search .search-text {
	flex: 100;
	border: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
	transition: all 0.2s ease;
}

.search .search-text:focus {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.search .search-button {
	flex: 1;
	font-size: 20px;
	border: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background: rgba(211, 211, 211, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s ease;
}

.search .search-button:hover {
	background: rgba(211, 211, 211, 0.5);
}

.search .search-button:active {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.results {
	width: 100%;
	min-width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	border-radius: 5px;
}

.result {
    width: 1000px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.result .title {
    font-size: 22px;
}

.result .url {
    color: gray;
    font-size: 12px;
    margin-bottom: 6px;
}

.result .content {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}